@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import '@radix-ui/themes/styles.css'; */
  

.container {
    transition: max-height 1s ease-out;
}
  
.collapsed {
    max-height: 64px;
    overflow: hidden;
}
  
.expanded {
    max-height: 1920px;
}

.sticky {
    position: sticky;
    top: 0;
}
